@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3 class="display-4">Hi.</h3>
    <h6 class="">My name is</h6>
    <h1 class="fw-bold">Callum Kent.</h1>
    <img style="width:356px; height:356px; max-width:100%; border-radius:50%; height:auto;" class="img-fluid py-5" src="/images/uniheadshot.jpg"/>
    <ul style="font-weight:600; list-style:none; margin:0px; padding:0px;">
        <li class="text-center">
            Unity Developer
        </li>
        <li>
            1+ Years of professional experience
        </li>
        <li>
            7+ Years of Unity experience
        </li>
        <li>
            Working knowledge of Web development
            <span style="font-weight:100">(ASP.NET Core/C#/SQL/JS - <span style="font-weight:900">Enough to build this site!</span>)</span>
        </li>
        <li>
            Upper Second-Class Honours (2:1) in Computer Games Technology
            <span style="font-weight:100">(University of Portsmouth).</span>
        </li>
    </ul>
    <h2 style="padding-top:10vh; font-weight:900">
        Currently looking for opportunities. Please get in touch!
    </h2>
</div>
